:root {

    --color-primary: dodgerblue;
    --height: 200px;
    --width: 200px;
    --border-radius: 5px;
    --margin-bottom: 40px;
    --margin-left: 50px;
}

.box-1 {
   
    background: var(--color-primary);
    height: var(--height);
    width: var(--width);
    border-radius: var(--border-radius);
    margin-left: var(--margin-left);
    margin-bottom: var(--margin-bottom);
    box-shadow: 10px 10px;
}

.box-2 {

    background: var(--color-primary);
    height: var(--height);
    width: var(--width);
    border-radius: var(--border-radius);
    margin-left: var(--margin-left);
    margin-bottom: var(--margin-bottom);
    box-shadow: -10px 10px;
}

.box-3 {

    background: var(--color-primary);
    height: var(--height);
    width: var(--width);
    border-radius: var(--border-radius);
    margin-left: var(--margin-left);
    margin-bottom: var(--margin-bottom);
    box-shadow: 10px 10px grey;
}















/*
    -   box-shadow property
    -   1st value: horizontal distance of the shadow to the element
    -   1st value:+: shadow right | - value shadow left
    -   2nd value: vertical distance of the shadow to the element
    -   + value: shadow down | - value: shadow up
    -   shadow color black by default
*/




